* {margin: 0; padding: 0; box-sizing: border-box; transition: .5s;}
img {display: block; margin: auto; max-width: 100%;}
a {text-decoration: none;}
body {min-height: 100%; overflow: auto;}
p, a { font-family: "Courier New", Courier, monospace; color: #FFF; text-align: center;}


.sectionWrapper {max-width: 1280px; margin: 0 auto; width: 100%;}

.nav {overflow: hidden; height: 65px; width: 100%; opacity: .8; background: #FFF; position: fixed; top: 0; z-index: 99;}
.nav img {float: left; width: 80px;}
.nav .navList {float: right; overflow: hidden;}
.nav .navList a {display: block; color: #555; font-family: 'Open Sans Condensed', sans-serif; line-height: 65px; width: 90px; text-align: center; float: left; position: relative; z-index: 2; font-weight: 700;}
.nav .navList a:hover,
.nav .navList a.active {color: #955f56; transition: .5s;}
.nav .navList .line {width: 90px; height: 65px; border-bottom: 3px solid #955f56; position: absolute; top: 0; z-index: 1; transition: .5s;}

.main .home {background: url(../img/main_bg1.jpg) center top no-repeat; width: 100%; min-height: 800px; position: relative;}
.main .home .logo {padding: 300px 0 15px; width: 370px; margin: 0 auto; opacity: .8;}
.main .home .logo .brand {border-bottom: 1px solid #FFF; padding: 0 0 25px;}
.main .home .logo .brand img {width: 80px;}
.main .home .logo .brand h1 {font-size: 52px; color: #FFF; font-family: 'Oleo Script', cursive; text-align: center; line-height: 50px;}
.main .home .logo p {overflow: hidden; width: 120%; margin-left: -10%; margin-top: -15px;}
.main .home .logo p span {display: inline-block; width: 50%; color: #FFF; font-size: 24px; float: left;}
.main .home .logo p span:nth-child(1) {text-align: left;}
.main .home .logo p span:nth-child(2) {text-align: right;}
.main .home .copy {opacity: .8;  z-index: 95; position: relative;}
.main .home .copy p {font-family: 'Open Sans Condensed', sans-serif; letter-spacing: 1px; font-weight: 300; font-size: 20px;}
.main .home .copy p span {font-weight: bold; text-transform: uppercase; font-family: 'Open Sans Condensed', sans-serif; font-weight: 700;}
.main .home .copy .anchor {margin: 0 auto 0; position: relative; width: 50px; display: block; bottom: -50px;}
.main .home .copy .anchor p {width: 50px; height: 50px; font-family: 'Syncopate', sans-serif; font-size: 16px; line-height: 55px; cursor: pointer; position: absolute; top: 0;}
.main .home .copy .anchor .border {border-radius: 100px; border: 2px solid #50473e;}
.main .home .copy .anchor:hover .border {background: rgba(255,255,255,0.2); border-radius: 0; transform: rotate(45deg) scale(1.2);}
.main .home .overlay {position: absolute; bottom: 0; display: block;}

.main .countdown {min-height: 200px; padding: 20px 0 70px;}
.main .countdown .clock {max-width: 750px; margin: 70px auto 20px; overflow: auto; position: relative;}
.main .countdown .clock span {font-size: 42px; font-family: 'Open Sans Condensed', sans-serif; color: #FFF; font-weight: 700; display: block; width: 100px; height: 100px; border-radius: 100px; background: rgba(80,71,62,.8); text-align: center; line-height: 100px; margin: 0 25px; float: left;}
.main .countdown .label {max-width: 750px; margin: 0 auto; overflow: auto;}
.main .countdown .label span {display: block; font-size: 18px; width: 100px; text-align: center; font-family: 'Open Sans', sans-serif; color: #444; margin: 0 25px; float: left;}
.main .countdown p {color: #565552; font-size: 60px; text-align: center; font-family: 'Open Sans Condensed', sans-serif; font-weight: 800; margin: 50px auto 0;}
.main .countdown:hover p {letter-spacing: 3px; font-size: 64px; transition: .3s; color: #737373;}

.main .nowlive {min-height: 500px; border: 10px solid #555; margin: 25px;}
.main .nowlive .feedburnerFeedBlock ul {padding: 20px;}
.main .nowlive .feedburnerFeedBlock ul li {padding: 20px; list-style: none; display: block; overflow: hidden;}
.main .nowlive .feedburnerFeedBlock ul li * {color: #555; font-family: 'Open Sans Condensed', sans-serif; display: block;}
.main .nowlive .feedburnerFeedBlock ul li .headline {font-size: 48px;  font-weight: 700; }
.main .nowlive .feedburnerFeedBlock ul li div {font-size: 16px;  font-weight: 400; font-family: 'Roboto', sans-serif; text-align: justify; clear: both; padding: 25px 0 0; border-top: 1px solid #555; margin: 50px 0 0;}
.main .nowlive .feedburnerFeedBlock ul li .feedItemAuthor {float: left; width: 50%; text-align: right; padding: 0 10px 0 0; border-right: 1px solid #555; font-family: 'Open Sans Condensed', sans-serif; font-weight: 600; color: #955f56;}
.main .nowlive .feedburnerFeedBlock ul li .date {float: left; width: 50%; text-align: left; padding: 0 0 0 10px; border-left: 1px solid #555; font-family: 'Open Sans Condensed', sans-serif; font-weight: 600; color: #955f56;}
.main .nowlive .feedburnerFeedBlock #creditfooter {display: none !important;}

.main .archive {min-height: 600px; background: url(../img/main_bg2.jpg) center top no-repeat; padding: 100px 0 50px; overflow: auto;}
.main .archive .heading {max-width: 300px; margin: 0 auto 70px; border-bottom: solid 2px #FFF; padding: 25px 0 20px;}
.main .archive .heading .header {font-family: 'Open Sans Condensed', sans-serif; color: #FFF; font-weight: 300; font-size: 46px; letter-spacing: 12px; text-align: center; padding: 0 0 65px;}
.main .archive .heading p {overflow: hidden; width: 120%; margin-left: -10%; margin-top: -105px;}
.main .archive .heading p span {display: inline-block; width: 50%; color: #FFF; font-size: 24px; float: left;}
.main .archive .heading p span:nth-child(1) {text-align: left;}
.main .archive .heading p span:nth-child(2) {text-align: right;}
.main .archive .articles {max-width: 1200px; margin: 0 auto; min-height: 300px; overflow: auto; position: relative;}
.main .archive .articles .feedburnerFeedBlock ul {width: 100%; padding: 0 10px; overflow: auto;}
.main .archive .articles .feedburnerFeedBlock ul li {height: 250px; background: #FFF; padding: 30px 15px 10px; position: relative; display: block; cursor: pointer; width: 30%; float: left; text-align: center;}
.main .archive .articles .feedburnerFeedBlock ul li:nth-child(2) {margin: 0 5%;} 
.main .archive .articles .feedburnerFeedBlock ul li * {color: #555; font-family: 'Open Sans Condensed', sans-serif; font-weight: 700; display: block;}
.main .archive .articles .feedburnerFeedBlock ul li .headline {font-size: 42px; height: 40%;}
.main .archive .articles .feedburnerFeedBlock ul li div {height: 30%; overflow: hidden; font-size: 14px;}
.main .archive .articles .feedburnerFeedBlock ul li .feedItemAuthor {position: absolute; bottom: 15%; margin: 0 auto; left: 0; right: 0;}
.main .archive .articles .feedburnerFeedBlock ul li .feedItemAuthor:before {content: "- ";}
.main .archive .articles .feedburnerFeedBlock ul li .date {margin: 0 auto; font-family: 'Open Sans', sans-serif; font-weight: 500; letter-spacing: 1px; height: 15%; position: relative; bottom: -35px; font-size: 12px;}
.main .archive .articles .feedburnerFeedBlock #creditfooter {display: none !important;}
.main .archive:hover .heading p {width: 130%; margin-left: -15%;}
.main .archive .articles .feedburnerFeedBlock ul li:hover {background: #555;}
.main .archive .articles .feedburnerFeedBlock ul li:hover * {color: #FFF;}

.main .gallery {background: #f2f2f2; padding: 100px 0;}
.main .gallery .heading {max-width: 100%; margin: 0 auto 70px; border: solid 2px #555; padding: 20px 0 20px; overflow: auto; line-height: 46px; height: 95px; max-width: 350px;}
.main .gallery .heading .header {font-family: 'Open Sans Condensed', sans-serif; color: #555; font-weight: 300; font-size: 46px; letter-spacing: 12px; text-align: center; padding: 0; max-width: 100%;}
.main .gallery .heading p {overflow: hidden; width: 120%; margin-left: -10%; margin-top: -105px; max-width: 100%;}
.main .gallery .heading p span {display: inline-block; width: 50%; color: #555; font-size: 24px; float: left;}
.main .gallery .heading p span:nth-child(1) {text-align: left;}
.main .gallery .heading p span:nth-child(2) {text-align: right;}
.main .gallery .art {max-width: 80%; margin: 0 auto; min-height: 350px;}
.main .gallery .art .item {height: 100%; min-height: 350px;}
.main .gallery .art .item .card {background: #FFF; padding: 10px; box-shadow: 10px 10px 13px -6px rgba(0,0,0,0.75);}
.main .gallery .art .item .card .img-container {min-height: 300px; position: relative; overflow: hidden;}
.main .gallery .art .item .card .img-container img {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); height: 100%; max-width: initial;}
.main .gallery:hover .heading .header {letter-spacing: 16px;}

footer {background: #282828;}
footer img {max-width: 100px; padding: 50px 0;}
footer .social {width: 100%; background: #222222; padding: 40px 0;}
footer .social .links {margin: 0 auto; max-width: 150px; overflow: hidden; padding: 0 0 20px;}
footer .social .links > a {display: block; float: left; width: 30%;}
footer .social .links a:nth-child(2) {margin: 0 5%;}
footer .social .links a i {font-size: 36px; color: #fff;}
footer .social .links a:hover i {color: #555;}
footer .social .control {overflow: visible; width: 300px; margin: 0 auto; padding: 25px; border-top: 1px solid #f2f2f2;}
footer .social .control a {font-family: 'Open Sans Condensed', sans-serif; font-weight: 700; display: block; width: 50%; float: left;}
footer .social .control a:hover {color: #555; }
footer .social .control a:nth-child(1) {text-align: left;}
footer .social .control a:nth-child(2) {text-align: right;}

.slick-prev {position: absolute; top: 100px; left: -50px; cursor: pointer;}
.slick-next {position: absolute; top: 100px; right: -50px; cursor: pointer;}
.slick-slide {margin: 0 15px;}
.slick-track {overflow: visible;}

.logo * {opacity: 0;}
.copy p {opacity: 0;}

@media screen and (max-width: 1080px) {
	.main .archive .articles .feedburnerFeedBlock ul li .headline {font-size: 32px;}
}

@media screen and (max-width: 768px) {
	.main .archive .articles {padding: 0 0 50px;}
	.main .archive .articles .feedburnerFeedBlock ul li {margin: 10px auto; width: 100%;}
	.main .archive .articles .feedburnerFeedBlock ul li:nth-child(2) {margin: 10px auto;}
	.main .countdown .clock {max-width: 450px;}
	.main .countdown .clock span {height: 80px; width: 80px; margin: 0 5px; line-height: 80px;}
	.main .countdown .label {max-width: 450px;}
	.main .countdown .label span {width: 80px; margin: 0 5px; font-size: 16px;}
}

@media screen and (max-width: 480px) {
	.main .countdown .clock {max-width: 300px;}
	.main .countdown .clock span {height: 50px; width: 50px; line-height: 50px; font-size: 30px;}
	.main .countdown .label {max-width: 300px;}
	.main .countdown .label span {width: 50px; font-size: 12px;}
}